/*Affichage du menu */
#menu{
    margin: auto;
    text-align: center;
    border-style: solid;
}

/*affichages du block ou se trouves les boutons vers les autres menu*/
.colonne{
    margin: auto;
    font-size: large;
    display: inline-block;
    margin-left: 150px;
}


/*alignement et affichage des differents encadrés pour les differents niveau*/
.section1{
    text-align: center;
    margin-top: 50px;
    font-size: larger;
    border-style: solid;
}
.section2{
    text-align: center;
    margin-top: 500px;
    font-size: larger;
    border-style: solid;
}
.section3{
    text-align: center;
    margin-top: 500px;
    font-size: larger;
    border-style: solid;
}
.section4{
    text-align: center;
    margin-top: 500px;
    font-size: larger;
    border-style: solid;
}
.section5{
    text-align: center;
    margin-top: 500px;
    font-size: larger;
    border-style: solid;
    
}
.section6{
    text-align: center;
    margin-top: 500px;
    font-size: larger;
}

/*range le texte en géneral*/
p{
    margin: auto;
    text-align: center;
    font-size: 30px;
}
/*point de liason pour la parite éducation mais marche pour le general*/
li{
    text-align: center;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
/*Titre en petit en rouge */
.h5{
    text-align: center;
    font-size: 30px;
    color: brown;
}

/*animations arrière plan*/
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:10s;
  }
  
  .bg3 {
    animation-duration:10s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  /*Arrière plan des boutton*/
  body {
    padding: 100px 0 0;
    text-align: center;
    background: #f7f7f7;
  }
  .register-button {
      margin-bottom: 20px;  
      border: 2px solid transparent;
      border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
      border-image-slice: 1;
    
      background: #fff;
      color: #000;
      font-size: 1.2em;
      padding: 5px 20px;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
  }
  
  .register-button:hover {
      background-color: white;
      background: linear-gradient(to right, #0865F1, #C704F6);
      color: #fff;
  }

 
